/* 
Author: DNGX;
Theme: Planet English Web app;
Version: 1.0
*/

/* * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

/* CSS for menu */

/* .menu {
    background-color: #1565c0;
    color: white;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    text-decoration: none;
    color: gainsboro;
    display: block;
} */

body {
    background-color: greenyellow;
}

.wrapper {
    width: 80%;
    padding: 1%;
    margin: 0 auto;  
    
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}


/* CSS for Main content */

.main-content {
    background-color:gainsboro ;
    padding: 3% 0;
    margin-top: 5%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    
}

.col-400 {
    width: 20%;
    background-color: white;
    margin: 1%;
    margin-left: 2%;
    padding: 2%;
    float: left;
}

/* testing of responsivenes */

* {
    box-sizing: border-box;
  }
  
  .flex-container0 {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .flex-item-first {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }
  
  .flex-item-second {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }

  .flex-item-third {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }

  .flex-item-fourth {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 25%;
  }
  
  /* Responsive CSS form

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container0 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: ;
    }
    .flex-item-first, .flex-item-second{
        flex: 40%;
    }
    .flex-item-third, .flex-item-fourth{
        flex: 40%;
    }
    .main-content0 {
        margin-top: 16%;
    }
  }

  @media (max-width: 1150px) {
    .main-content0 {
        margin-top: 12%;
    }
  }

  @media (max-width: 900px) {
    .main-content0 {
        margin-top: 12%;
    }
  }

  
  @media (max-width: 500px) {
    .flex-container0 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: ;
    }
    .flex-item-first, .flex-item-second{
        flex: 100%;
    }
    .flex-item-third, .flex-item-fourth{
        flex: 100%;
    }
    .main-content0 {
        margin-top: 18%;
    }
  } */



/* CSS for footer */

.footer-dng {
    background-color: #e53935;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}







